.c-fikloo {
    width: 580px;
    overflow: hidden;
    border-radius: var(--radii-2);
    box-shadow: 0 2px 48px rgba(19, 33, 68, 0.16), 0 0 0 1px var(--shadows-shadow4);
    height: 90%;
    max-height: 800px;
}
.c-kIbiaN-igTOWPu-css {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.L4o9A_cZjEzgXGiVnXq_AQHaEK%26pid%3DApi&f=1&ipt=bfeb5acec23025c5d0c96427ca66a8d7f6a86443c24c800c473faef6b9a86611&ipo=images);
}